<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="u" class="com.ypy.dao.impl.UserDaoImpl"></bean>
    
    <!-- 默认的scope为sinqleton -->
    <bean id="userService" class="com.ypy.service.UserService" scope="prototype">
		<property name="userdao" ref="u"/>
    </bean>
    
</beans>